<p>The data on this page comes from three Legistar hosts:</p>
<ul>
  <li>
    <code>webapi.legistar.com/v1/sanjose</code>
    <ul>
      <li>
        Legistar API, the primary source for matters, events, and attachment metadata.
      </li>
    </ul>
  </li>
  <li>
    <code>sanjose.legistar.com</code>
    <ul>
      <li>
        The public Legistar site that attachment hyperlinks point to.
      </li>
    </ul>
  </li>
  <li>
    <code>legistar.granicus.com</code>
    <ul>
      <li>
        The Granicus CDN that <code>sanjose.legistar.com</code> redirects attachment downloads to.
      </li>
    </ul>
  </li>
</ul>
